# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# macOS
.DS_Store

# Xcode
ios/build/
ios/DerivedData/
ios/**/*.xcuserstate
ios/**/xcuserdata/
*.ipa
*.dSYM
*.mobileprovision
*.p8
*.p12
*.pem
